<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="author.component.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@800&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
            </style>
    </head>
    <body>
        <div id="autor"></div>
            <div class="author" style="font-family: Charmonman;">
                    <h1 style="color:rgb(60, 61, 62)">Milana<br>Maravic</h1>
                <div class="ind" style="font-family: Gotu;">
                    <h2 style="color: #bc1a5b;"><br>IT65/2019</h2>
                    <p style="color: #777;"><br>Inženjerstvo informacionih sistema<br>Fakultet tehničkih nauka<br>Razvoj višeslojnih aplikacija</p>            
                </div>
            </div>   
    </body>
</html>
