<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje studenta</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Ažuriranje studenta {{data.id}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje studenta: {{data.id}}</h3>

        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Ime" name="Ime" 
                [(ngModel)] = "data.ime" [disabled] = "flag == 3" required/>
            </mat-form-field>
        </div>
        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Prezime" name="Prezime" [(ngModel)] = "data.prezime" [disabled] = "flag == 3"  required/>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field>
                <input matInput placeholder="Broj indeksa" name="BrojIndeksa" [(ngModel)] = "data.brojIndeksa" [disabled] = "flag == 3"  required/>
            </mat-form-field>
        </div>

        <form class="mat-dialog-content" #formControl="ngForm">
            <div class="form">
                <mat-form-field *ngIf="flag==1">
                    <mat-select placeholder="Status" name="Status" [(ngModel)] = "data.status"  required>
                        <mat-option *ngFor="let status of statusi" [value]="status">
                            {{status.naziv}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    
            <div class="form">
                <mat-form-field *ngIf="flag==2 || flag==3">
                    <mat-select [compareWith]="compare"  placeholder="Status" name="Status" [(ngModel)] = "data.status" [disabled] = "flag == 3" required>
                        <mat-option *ngFor="let status of statusi" [value]="status">
                            {{status.naziv}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

    </form>

    <div class="mat-dialog-actions">
        <button mat-button *ngIf="flag==1" [disabled]="!formControl.valid" (click)="add()" mat-dialog-close="1" type="submit" >Sačuvaj</button>
        <button mat-button *ngIf="flag==2" [disabled]="!formControl.valid" (click)="update()" mat-dialog-close="1" type="submit">Ažuriraj</button>
        <button mat-button *ngIf="flag==3" (click)="delete()" mat-dialog-close="1">Obriši</button>
        <button mat-button (click)="cancel()">Poništi</button>
    </div>
</div>
